<h3>Calculator</h3>


<div>

</div>


@code {

    CalculatorModel calculator = new CalculatorModel();

    private void OnOperatorInput(Operator op)
    {
        calculator.OnOperatorInput(op);
    }

    private void OnNumberInput(int number)
    {
        calculator.OnNumberInput(number);
    }
}
